@using BizStream.Kentico.Xperience.AspNetCore.Components.Breadcrumbs.Abstractions

@model BreadcrumbItem

<li class="breadcrumb-item">
	<a href="@Model.Path" title="@Model.Label">@Model.Label</a>
</li>
