@model IEnumerable<BreadcrumbItem>

@if( !Model.Any() )
{
	return;
}

<div class="breadcrumbs-container">
    <nav class="breadcrumbs">
        <ol>
            @foreach( var breadcrumb in Model )
            {
                @await Html.PartialAsync( $"Components/{nameof( XperienceBreadcrumbs )}/_BreadcrumbItem", breadcrumb )
            }
        </ol>
    </nav>
</div>
